/**
    |============================
    | BASE STYLES
    |============================
  */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: $primaryFont;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
  outline-offset: -2px;

  @media screen and (min-width: $mobile) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}



/* Button */
.button {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  cursor: pointer;
  font-family: inherit;
  line-height: 1.87;

  border: none;
}
