/* Колір основного тексту #212121 */
/* вторинний колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фону #F5F4FA */

@import "./base/normalize";
@import "./base/reset";
@import "./utils/variables";
@import "./utils/placeholder";

@import "./base/common";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/activity";
@import "./layout/our-team";
@import "./layout/our-clients";
@import "./layout/footer";
@import "./layout/portfolio";
@import "./layout/examples";

@import "./components/modal-form";
@import "./components/subscribe-form";
@import "./components/logo";
@import "./components/social-network";
@import "./components/footer-contacts-address";
@import "./components/mobile-menu";

/* Варіант чекбокса із галочкою через перетворення SVG в background-image
  
  .checkbox-input {
    margin-right: 7px;
    appearance: none;
    width: 15px;
    height: 16px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-size: 11px 8px;
  } */
