/**
    +++++++++++++++++++++++++++++
    | M - A - I - N
    +++++++++++++++++++++++++++++
  */

/**
    |============================
    | Особенности
    |============================
  */

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width:$desctop) {
    padding-top: 94px;
    padding-bottom: 0;
  }
  
}

.features__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.features__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features-list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

  }
}

.features-list__item {
 @media screen and (max-width:$tablet) {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
 } 

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);

  }
  @media screen and (min-width: $desctop) {
    flex-basis: calc((100% - 3*30px) / 4);
  

  }
}

.features-list__img {
  height: 120px;
  margin-bottom: 30px;

  background: var(--secondary-bg-color);
  border-radius: 4px;
display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  }
}


.features-list__desc {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  line-height: calc(24 / 14);
  display: block;
  font-size: 14px;
}