/**
    |============================
    | HERO
    |============================
  */
.hero {
  text-align: center;
  height: 400px;
  padding: 118px 0;

  @media screen and (min-width: $desctop) {
    padding: 200px 0;
  }
}

.hero--darkened {
  max-width: 100%;
  height: 400px;
  background: #c4c4c4;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // mobile _@1x
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero-bg/hero-bg_sm@1x_result.jpg);
  
  // mobile _@2x
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(../../images/hero-bg/hero-bg_sm@2x_result.jpg);
    }
  }

  // tablet _@1x
    @media screen and (min-width:$tablet) {
       background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero-bg/hero-md@1x.jpg);

    // tablet _@2x
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ), url(../../images/hero-bg/hero-md@2x.jpg);
      }
    }
    @media screen and(min-width:$desctop) {
      height: 600px;
    }
  }

  // desctop _@1x
  @media screen and (min-width:$desctop) {
    height: 600px;
    background-image: linear-gradient(
   to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
 ),
 url(../../images/hero-bg/hero-lrg@1x.jpg);

 // desctop_@2x
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   & {
     background-image: linear-gradient(
       to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ), url(../../images/hero-bg/hero-lrg@2x.jpg);
   }
 }
}
}

.hero__title {
  color: var(--primary-bg-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.62;

  margin: auto;
  width: 200px;

  @media screen and (min-width: $mobile) {
    font-size: 26px;
    width: 360px;
  }
  @media screen and (min-width: $desctop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  margin-top: 30px;

  min-width: 150px;
  min-height: 50px;
  border-radius: 4px;

  @media screen and (min-width: $mobile) {
    min-width: 216px;
  }
  @media screen and (min-width: $tablet) {
    min-width: 216px;
  }
}

