/**
    |==============================                ============================
    |                               Portfolio PAGE
    |==============================                ============================
  */

/**
    |============================
    | PORTFOLIO
    |============================
  */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width:$mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-list__item {
  display: inline-block;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width:$mobile) {
    margin-bottom: 15px;
  }
}

.portfolio-list {
  text-align: center;
  margin-bottom: 34px;

  @media screen and (max-width:$mobile) {
    text-align: left;
    margin-bottom: 25px;
  }
}

.portfolio-selector {
  font-family: inherit;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }
}
